<!--<div>-->
    <!--<div>-->
        <!--<h3>inputModal</h3>-->
    <!--</div>-->
    <!--<div ng-if="action == conf.action.newProject || action == conf.action.newTestCase || action == conf.action.newSuite-->
<!--|| action == conf.action.newDirectory || action == conf.action.newResource || action == conf.action.newUserKeyword">-->
        <!--<div>-->
            <!--<label>Name:</label>-->
            <!--<input type="text" ng-model="robotNode.name">-->
        <!--</div>-->
        <!--<div ng-if="robotNode.type == 'project' || robotNode.type == 'suite'">-->
            <!--<label>fileType:</label>-->
            <!--<input type="radio" ng-model="robotNode.fileType" value="file"><span>file</span>-->
            <!--<input type="radio" ng-model="robotNode.fileType" value="dir"><span>dir</span>-->
        <!--</div>-->
        <!--<div ng-if="robotNode.type == 'project' || robotNode.type == 'suite'-->
    <!--|| robotNode.type == 'resource' || robotNode.type == 'other' ">-->
            <!--<label>fileFormat:</label>-->
            <!--<input type="radio" ng-model="robotNode.fileFormat" value="robot"><span>robot</span>-->
            <!--<input type="radio" ng-model="robotNode.fileFormat" value="txt"><span>txt</span>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div ng-if="action == conf.action.editDocumentation">-->
        <!--<div>-->
            <!--<label>value:</label>-->
            <!--<textarea ng-model="data.value"></textarea>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div ng-if="action == conf.action.editSetup || action == conf.action.editTeardown-->
<!--|| action == conf.action.editTemplate || action == conf.action.editTimeout-->
<!--|| action == conf.action.editSuiteSetup || action == conf.action.editSuiteTeardown-->
<!--|| action == conf.action.editTestSetup || action == conf.action.editTestTeardown-->
<!--|| action == conf.action.editTestTemplate || action == conf.action.editTestTimeout-->
<!--|| action == conf.action.editArguments || action == conf.action.editReturnValue">-->
        <!--<div>-->
            <!--<label>value:</label>-->
            <!--<input type="text" ng-model="data.value">-->
        <!--</div>-->
        <!--<div>-->
            <!--<label>comment:</label>-->
            <!--<input type="text" ng-model="data.comment">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div ng-if="action == conf.action.addLibrary || action == conf.action.addResource || action == conf.action.addVariables">-->
        <!--<div>-->
            <!--<label>path/name:</label>-->
            <!--<input type="text" ng-model="data.path">-->
            <!--<button ng-click="searchResource()" ng-if="action == conf.action.addResource">Browse</button>-->
        <!--</div>-->
        <!--<div>-->
            <!--<label>args:</label>-->
            <!--<input type="text" ng-model="data.args">-->
        <!--</div>-->
        <!--<div>-->
            <!--<label>alias:</label>-->
            <!--<input type="text" ng-model="data.alias">-->
        <!--</div>-->
        <!--<div>-->
            <!--<label>comment:</label>-->
            <!--<input type="text" ng-model="data.comment">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div ng-if="action == conf.action.addScalar || action == conf.action.addList || action == conf.action.addDict">-->
        <!--<div>-->
            <!--<label>Name:</label>-->
            <!--<input type="text" ng-model="data.name">-->
        <!--</div>-->
        <!--<div ng-if="data.type == 'Scalar'">-->
            <!--<label>Value:</label>-->
            <!--<input type="text" ng-model="data.stringValue">-->
        <!--</div>-->
        <!--<div ng-if="data.type == 'List' || data.type == 'Dict'" style="white-space: nowrap">-->
            <!--<label>Value:</label>-->
            <!--<span ng-repeat="value in data.arrayValue track by $index">-->
                <!--<input type="text" ng-model="value.text" ng-click="clickArrayValue($index)">-->
                <!--<br ng-if=" ($index + 1) % data.columns == 0">-->
            <!--</span>-->
        <!--</div>-->
        <!--<div ng-if="data.type == 'List' || data.type == 'Dict'">-->
            <!--<label>columns:</label>-->
            <!--<select ng-model="data.columns" ng-options="option for option in columnsOptions" ng-change="changeColumns()"></select>-->
        <!--</div>-->
        <!--<div>-->
            <!--<label>Comment:</label>-->
            <!--<input type="text" ng-model="data.comment">-->
        <!--</div>-->
    <!--</div>-->
    <!--<div>-->
        <!--<button class="btn btn-success" ng-click="confirm()">确认</button>-->
        <!--<button class="btn btn-default" ng-click="cancel()">取消</button>-->
    <!--</div>-->
<!--</div>-->

<div style="min-width: 800px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>inputModal:</span>
            <span class="panel-title" ng-bind="action"></span>
        </div>
    </div>
    <div class="panel-body">
        <form id="inputModalForm" class="form-horizontal" role="form" ng-submit="confirm()">
            <div ng-if="action == conf.action.newProject || action == conf.action.newTestCase
            || action == conf.action.newSuite || action == conf.action.newDirectory || action == conf.action.newResource
            || action == conf.action.newUserKeyword">
                <bt-form-group-2 label-options='{"text":"Name："}'>
                    <input  data-ng-model="robotNode.name" type="text" class="form-control" required placeholder="Name">
                </bt-form-group-2>
                <div ng-if="robotNode.type == 'project' || robotNode.type == 'suite'">
                    <bt-form-group-2 label-options='{"text":"fileType："}'>
                        <div class="form-control no-border-form-control">
                            <input  data-ng-model="robotNode.fileType" type="radio" value="file" name="fileType" required placeholder="Name"><span>file</span>
                            <input  data-ng-model="robotNode.fileType" type="radio" value="dir"  name="fileType" required placeholder="Name"><span>dir</span>
                        </div>
                    </bt-form-group-2>
                </div>
                <div ng-if="robotNode.type == 'project' || robotNode.type == 'suite' || robotNode.type == 'resource' || robotNode.type == 'other' ">
                    <bt-form-group-2 label-options='{"text":"fileFormat："}'>
                        <div class="form-control no-border-form-control">
                            <input  data-ng-model="robotNode.fileFormat" type="radio" name="fileFormat" value="robot" required ><span>robot</span>
                            <input  data-ng-model="robotNode.fileFormat" type="radio" name="fileFormat" value="txt" required ><span>txt</span>
                        </div>
                    </bt-form-group-2>
                </div>
            </div>
            <div ng-if="action == conf.action.editDocumentation">
                <bt-form-group-2 label-options='{"text":"value："}'>
                    <textarea class="form-control" ng-model="data.value"></textarea>
                </bt-form-group-2>
            </div>
            <div ng-if="action == conf.action.editSetup || action == conf.action.editTeardown
                    || action == conf.action.editTemplate || action == conf.action.editTimeout
                    || action == conf.action.editSuiteSetup || action == conf.action.editSuiteTeardown
                    || action == conf.action.editTestSetup || action == conf.action.editTestTeardown
                    || action == conf.action.editTestTemplate || action == conf.action.editTestTimeout
                    || action == conf.action.editArguments || action == conf.action.editReturnValue">
                <bt-form-group-2 label-options='{"text":"value："}'>
                    <input type="text" class="form-control" ng-model="data.value">
                </bt-form-group-2>
                <bt-form-group-2 label-options='{"text":"comment："}'>
                    <input type="text" class="form-control" ng-model="data.comment">
                </bt-form-group-2>
            </div>
            <div ng-if="action == conf.action.addLibrary || action == conf.action.addResource || action == conf.action.addVariables">
                <bt-form-group-2 label-options='{"text":"path/name："}'>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="data.path">
                    </div>
                    <div class="col-sm-3">
                        <button ng-click="searchResource()" type="button" class="btn btn-default" ng-if="action == conf.action.addResource">Browse</button>
                    </div>
                </bt-form-group-2>
                <bt-form-group-2 label-options='{"text":"args："}'>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="data.args">
                    </div>
                </bt-form-group-2>
                <bt-form-group-2 label-options='{"text":"alias："}'>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="data.alias">
                    </div>
                </bt-form-group-2>
                <bt-form-group-2 label-options='{"text":"comment："}'>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" ng-model="data.comment">
                    </div>
                </bt-form-group-2>
            </div>
            <div ng-if="action == conf.action.addScalar || action == conf.action.addList || action == conf.action.addDict">
                <bt-form-group-2 label-options='{"text":"Name："}'>
                    <input type="text" class="form-control" ng-model="data.name">
                </bt-form-group-2>
                <div ng-if="data.type == 'Scalar'">
                    <bt-form-group-2 label-options='{"text":"Value："}'>
                        <input type="text" class="form-control" ng-model="data.stringValue">
                    </bt-form-group-2>
                </div>
                <div ng-if="data.type == 'List' || data.type == 'Dict'" style="white-space: nowrap">
                    <bt-form-group-2 label-options='{"text":"Value："}'>
                        <div style="display: inline;font-size: 0" ng-repeat="value in data.arrayValue track by $index">
                            <input style="font-size: 14px;width: 10%" type="text" ng-model="value.text" ng-click="clickArrayValue($index)">
                            <br ng-if=" ($index + 1) % data.columns == 0">
                        </div>
                    </bt-form-group-2>
                </div>
                <div ng-if="data.type == 'List' || data.type == 'Dict'">
                    <bt-form-group-2 label-options='{"text":"columns："}'>
                        <select class="form-control" ng-model="data.columns" ng-options="option for option in columnsOptions"
                                ng-change="changeColumns()"></select>
                    </bt-form-group-2>
                </div>
                <div>
                    <bt-form-group-2 label-options='{"text":"Comment："}'>
                        <input type="text" class="form-control" ng-model="data.comment">
                    </bt-form-group-2>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <div class="m-row">
            <div class="pull-right">
                <button type="submit" class="btn btn-success" form="inputModalForm">确认</button>
                <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
            </div>
        </div>
    </div>
</div>