<div>search modal</div>
<div>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Path1</th>
                <th>Path2</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="result in results" ng-class="{success:result.selected}" ng-click="clickRow(result)">
                <td ng-bind="result.name"></td>
                <td ng-bind="result.abPath"></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <button class="btn btn-success" ng-click="confirm()">确认</button>
    <button class="btn btn-default" ng-click="cancel()">取消</button>
</div>