<div style="min-width: 800px;">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>searchModal:</span>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>绝对路径</th>
                <th>相对路径</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="result in results" ng-class="{success:result.selected}" ng-click="clickRow(result)">
                <td ng-bind="result.name"></td>
                <td ng-bind="result.abPath"></td>
                <td ng-bind="result.rePath"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer">
        <div class="m-row">
            <div class="pull-right">
                <button type="button" class="btn btn-success" ng-click="confirm()">确认</button>
                <button type="button" class="btn btn-default" ng-click="cancel()">取消</button>
            </div>
        </div>
    </div>
</div>