<div class="container">
    <h3>用户资料</h3>
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label">用户名：</label>
            <div class="col-sm-9">
                <span class="form-control" ng-bind="user.user"></span>
            </div>
        </div>
        <bt-form-group label-options='{"text":"姓名："}' input-options='{"type":"text","required":false ,"placeholder":"姓名"}' d-ng-model="user.name"></bt-form-group>
        <bt-form-group label-options='{"text":"角色："}' select-options='{}' d-ng-model="user.role" d-select-ng-options="roles"></bt-form-group>
        <bt-form-group label-options='{"text":"密码："}' input-options='{"type":"password","required":false ,"placeholder":"密码"}' d-ng-model="user.password"></bt-form-group>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
                <button type="button" class="btn btn-default" ng-click="save()">保存</button>
                <button type="button" class="btn btn-default" ng-click="back()">返回</button>
            </div>
        </div>
    </form>
</div>