<div class="test-nav">
    <div class="nav-tab" ng-click="setTab('component')">组件测试</div>
    <div class="nav-tab" ng-click="setTab('api')">专用接口测试</div>
    <div class="nav-tab" ng-click="setTab('apiCommon')">通用接口测试</div>
</div>

<div ng-show="tab == 'api'">
    <h3>专用接口测试</h3>
    <button ng-click="testGetRelativePath()">getRelativePath</button>
</div>

<div ng-show="tab == 'apiCommon'">
    <h3>通用接口测试</h3>
    <div>
        <label>地址：</label><input type="text" data-ng-model="address">
    </div>
    <div>
        <label>方法：</label>
        <select data-ng-model="method" data-ng-options="m for m in methods">
        </select>
    </div>
    <div>
        <label>数据：</label>
        <textarea data-ng-model="sendData" style="min-height: 200px;min-width: 600px"> </textarea>
    </div>
    <div>
        <button type="button" data-ng-click="test()">发送请求</button>
    </div>
    <div data-ng-bind="result"></div>
</div>

<div ng-show="tab == 'component'">
    <h3>测试modal</h3>
    <div>
        <button ng-click="openInputModal()">打开input modal</button>
        <button ng-click="openSearchModal()">打开search modal</button>
    </div>
</div>