<div class="test-nav">
    <div class="nav-tab" ng-class="{active: tab == 'component'}"  ng-click="setTab('component')">组件测试</div>
    <div class="nav-tab" ng-class="{active: tab == 'api'}"  ng-click="setTab('api')">专用接口测试</div>
    <div class="nav-tab" ng-class="{active: tab == 'apiCommon'}"  ng-click="setTab('apiCommon')">通用接口测试</div>
    <div class="nav-tab" ng-class="{active: tab == 'socketIo'}" ng-click="setTab('socketIo')">socketIo测试</div>
    <div class="nav-tab" ng-class="{active: tab == 'location'}" ng-click="setTab('location')">当前地址</div>
    <div class="nav-tab" ng-class="{active: tab == 'cookies'}" ng-click="setTab('cookies')">cookies</div>
    <div class="nav-tab" ng-class="{active: tab == 'ngAnimate'}" ng-click="setTab('ngAnimate')">ngAnimate</div>
</div>

<div ng-show="tab == 'socketIo'">
    <h3>socketIo测试</h3>
    <button ng-click="sendSession()">socketIo</button>
</div>

<div ng-show="tab == 'api'">
    <h3>专用接口测试</h3>
    <button ng-click="testGetRelativePath()">getRelativePath</button>
</div>

<div ng-show="tab == 'apiCommon'">
    <h3>通用接口测试</h3>
    <div>
        <label>地址：</label><input type="text" data-ng-model="address">
    </div>
    <div>
        <label>方法：</label>
        <select data-ng-model="method" data-ng-options="m for m in methods">
        </select>
    </div>
    <div>
        <label>数据：</label>
        <textarea data-ng-model="sendData" style="min-height: 200px;min-width: 600px"> </textarea>
    </div>
    <div>
        <button type="button" data-ng-click="test()">发送请求</button>
    </div>
    <div data-ng-bind="result"></div>
</div>

<div ng-show="tab == 'component'">
    <h3>测试modal</h3>
    <div>
        <button ng-click="openInputModal()">打开input modal</button>
        <button ng-click="openSearchModal()">打开search modal</button>
    </div>
</div>

<div ng-show="tab == 'location'">
    <h3>测试location</h3>
    <div>
        <div ng-repeat="(key, value) in location">
            <label ng-bind="key"></label>
            <span>：</span>
            <span ng-bind="value"></span>
        </div>
    </div>
</div>
<div ng-show="tab == 'cookies'">
    <h3>cookies</h3>
    <div class="btn btn-default" ng-click="getCurrentCookies()">刷新当前cookies</div>
    <div>
        <input type="text" ng-model="newCookie.key">
        <input type="text" ng-model="newCookie.value">
        <button type="button" class="btn btn-default" ng-click="addCookie(newCookie.key,newCookie.value)">新增cookie</button>
    </div>
    <div>
        <div ng-repeat="(key, value) in currentCookies">
            <label ng-bind="key"></label>
            <span>：</span>
            <span ng-bind="value"></span>
        </div>
    </div>
</div>

<div ng-show="tab == 'ngAnimate'">
    <h3>ngAnimate</h3>
    <div class="test-ng-animate">
        <div>
            <h4>ng-if</h4>
            <div>
                <button class="btn btn-default" ng-click="ngAnimate.setAttr('ngIf',true)">显示</button>
                <button class="btn btn-default" ng-click="ngAnimate.setAttr('ngIf',false)">隐藏</button>
            </div>
            <div class="test-ng-animate-ng-if" ng-if="ngAnimate.ngIf">哈哈</div>
        </div>
        <div>
            <h4>ng-show</h4>
            <div>
                <button class="btn btn-default" ng-click="ngAnimate.setAttr('ngShow',true)">显示</button>
                <button class="btn btn-default" ng-click="ngAnimate.setAttr('ngShow',false)">隐藏</button>
            </div>
            <div class="test-ng-animate-ng-show" ng-show="ngAnimate.ngShow">哈哈</div>
        </div>
        <div>
            <h4>ng-hide</h4>
            <div>
                <button class="btn btn-default" ng-click="ngAnimate.setAttr('ngHide',false)">显示</button>
                <button class="btn btn-default" ng-click="ngAnimate.setAttr('ngHide',true)">隐藏</button>
            </div>
            <div class="test-ng-animate-ng-hide" ng-hide="ngAnimate.ngHide">哈哈</div>
        </div>
        <div>
            <h4>ng-repeat</h4>
            <!--<div>ngAnimate和track by $index一起使用有问题</div>-->
            <!--<div ng-repeat="item in ngAnimate.ngRepeat.items track by $index" class="test-ng-animate-ng-repeat">-->
            <div ng-repeat="item in ngAnimate.ngRepeat.items" class="test-ng-animate-ng-repeat">
                <span ng-bind="item"></span>
                <button ng-click="ngAnimate.ngRepeat.add($index,$index+'Add')">添加</button>
                <button ng-click="ngAnimate.ngRepeat.remove($index)">删除</button>
            </div>
        </div>
    </div>
</div>