<div class="user-center">
    <!--<div class="user-center-nav">-->
        <!--<a href="#/m1/user_center/profile">个人资料</a>-->
        <!--<a href="#/m1/user_center/debug/index">debug选项</a>-->
    <!--</div>-->

    <div class="row">
        <div class="col-xs-2">
            <ul class="nav nav-pills nav-stacked" role="tablist">
                <li role="presentation" ng-class="{active: mHelp.getLocation().url() == '/m1/user_center/profile'}"><a href="#/m1/user_center/profile">个人资料</a></li>
                <li role="presentation" ng-class="{active: mHelp.getLocation().url() == '/m1/user_center/debug/index'}"><a href="#/m1/user_center/debug/index">debug选项</a></li>
            </ul>
        </div>
        <div class="col-xs-10">
            <div data-ui-view="user_center"></div>
        </div>
    </div>
</div>
