<div class="workspace">
    <div class="node-list">
        <tree-view m-tree-data="[nodeTree.node]" add-suite="addSuite" tree-functions="treeFunctions"></tree-view>
    </div>
    <div class="work-panel">
        <div>
            <h3 ng-bind="editingNode.name"></h3>
        </div>
        <div class="settings">
            <div>
                <button ng-click="changeShowSettings()">Settings</button>
            </div>
            <div ng-if="showSettings == true">
                <div ng-if="editingNode.type == 'case'">
                    <div class="setting">
                        <label>documentation</label>
                        <div class="show-value" ng-bind="editingNode.documentation" ng-click="editDocumentation(editingNode)"></div>
                        <button ng-click="editDocumentation(editingNode)">Edit</button>
                        <button>Clear</button>
                    </div>
                    <div class="setting">
                        <label>setup</label>
                        <div class="show-value" ng-bind="editingNode.setup.value + ' | # '+ editingNode.setup.comment" ></div>
                        <button ng-click="editSetup(editingNode)">Edit</button>
                        <button>Clear</button>
                    </div>
                    <div class="setting">
                        <label>teardown</label>
                        <div class="show-value" ng-bind="editingNode.teardown.value + ' | # '+ editingNode.teardown.comment" ></div>
                        <button ng-click="editTeardown(editingNode)">Edit</button>
                        <button>Clear</button>
                    </div>
                    <div class="setting">
                        <label>tags</label>
                        <div class="show-value">
                            <input type="text" class="tag" disabled>
                        </div>
                        <button>Edit</button>
                        <button>Clear</button>
                    </div>
                    <div class="setting">
                        <label>timeout</label>
                        <div class="show-value" ng-bind="editingNode.timeout.value + ' | # '+ editingNode.timeout.comment" ></div>
                        <button ng-click="editTimeout(editingNode)">Edit</button>
                        <button>Clear</button>
                    </div>
                    <div class="setting">
                        <label>template</label>
                        <div class="show-value" ng-bind="editingNode.template.value + ' | # '+ editingNode.template.comment" ></div>
                        <button ng-click="editTemplate(editingNode)">Edit</button>
                        <button>Clear</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-editor" ng-if="editingNode.type == 'case'">
            <div class="form-row" ng-repeat="row in editingNode.form.rows">
                <label ng-bind="$index"></label>
                <input type="text" ng-repeat="cell in row.cols" ng-model="cell.text">
                <button ng-click="addCol(row.cols)">+</button>
                <button ng-click="removeCol(row.cols)">-</button>
            </div>
            <div>
                <button ng-click="addRow(editingNode.form.rows)">+</button>
                <button ng-click="removeRow(editingNode.form.rows)">-</button>
            </div>
            <button ng-click="saveForm(editingNode)">保存</button>
        </div>
    </div>
    <div data-ui-view="workspace"></div>
</div>
<div>
    <button ng-click="createProjectFiles()">生成项目文件</button>
</div>