<form class="form-horizontal" role="form" ng-submit="save(option)">
    <bt-form-group label-options='{"text":"名称："}' input-options='{"type":"text","required":true ,"placeholder":"名称"}' d-ng-model="option.name"></bt-form-group>
    <bt-form-group label-options='{"text":"方式："}' select-options='{}' d-ng-model="option.way" d-select-ng-options="ways"></bt-form-group>
    <div>
        <bt-form-group label-options='{"text":"keyword："}' input-options='{"type":"text","required":true ,"placeholder":"keyword"}' d-ng-model="option.params.keyword"></bt-form-group>
        <bt-form-group label-options='{"text":"param："}' input-options='{"type":"text","required":true ,"placeholder":"param"}' d-ng-model="option.params.param"></bt-form-group>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
            <button type="submit" class="btn btn-default">保存</button>
            <a type="button" class="btn btn-default" href="#/m1/user_center/debug/index">返回</a>
        </div>
    </div>
</form>