<h3>个人资料</h3>
<form class="form-horizontal" role="form">
    <div class="form-group">
        <label class="col-sm-2 control-label">用户名：</label>
        <div class="col-sm-9">
            <span class="form-control" ng-bind="currentUser.user"></span>
        </div>
    </div>
    <bt-form-group label-options='{"text":"姓名："}' input-options='{"type":"text","required":false ,"placeholder":"param"}' d-ng-model="currentUser.name"></bt-form-group>
    <bt-form-group label-options='{"text":"密码："}' input-options='{"type":"password","required":false ,"placeholder":"param"}' d-ng-model="currentUser.password"></bt-form-group>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-9">
            <button type="button" class="btn btn-default" ng-click="updateCurrentUser()">保存</button>
        </div>
    </div>
</form>