<div class="header">
    <div class="header-group">
        <a class="" href="#/m1/manage">项目管理</a>
    </div>
    <div class="header-group">
        <a href="#/m1/test">测试</a>
    </div>
    <div class="header-group" ng-hide="mHelp.isLogin()">
        <a href="#/m1/user/login">登录</a>
    </div>
    <div class="header-group"  ng-show="mHelp.isLogin()" >
        <span ng-bind="'欢迎'" ></span>
        <a href="#/m1/user_center/profile"ng-bind="mHelp.getCurrentUser().name" ></a>
    </div>
    <div class="header-group" ng-show="mHelp.isLogin()">
        <a ng-click="logout()">退出</a>
    </div>
    <div class="header-group" ng-if="mHelp.getCurrentUser().role == 'admin'">
        <a href="#/m1/admin" ng-bind="'后台管理'"></a>
    </div>





</div>
<!--<div data-ui-view="m1" ng-click="setShowContextMenu(false)" ng-right-click="setShowContextMenu(false)" style="min-height: 1200px"></div>-->
<div data-ui-view="m1" ng-click="setShowContextMenu(false)"  style="min-height: 1200px"></div>
<m-context-menu data-ng-if="showContextMenu" context-menu-functions="contextMenuFunctions" m-node="rightClickNode" m-node-type="rightClickNodeType" ng-style="contextMenu.style"></m-context-menu>