<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>filter</title>
    <!-- <script src="http://cdn.bootcss.com/angular.js/1.6.4/angular.js"></script> -->
    <script src="http://cdn.bootcss.com/angular.js/1.2.32/angular.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.controller("controller",function ($scope,$filter) {
            //js中使用$filter
            $scope.firstName="zhangsan";  
            $scope.uFirstName=$filter('uppercase')($scope.firstName);  
            console.log($scope.uFirstName);
            $scope.price="121212";  
            $scope.cPrice=$filter('currency')($scope.price,'RMB ￥');  
            console.log($scope.cPrice);
        });
        //自定义过滤器
        app.filter('replaceHello',function(){  
            return function(input,n1,n2){  
                console.log(input);  
                console.log(n1);  
                console.log(n2);  
                return input.replace(/Hello/,'您好');  
            }
        });
    </script>
</head>
<body>
<div>
    <h3>自带filter(参考资料:http://blog.csdn.net/bboyjoe/article/details/50455906)</h3>
    <div>
        <label>uppercase：</label>
        <span ng-bind=" 'Abc' | uppercase"></span>
    </div>
    <div>
        <label>lowercase：</label>
        <span ng-bind=" 'Abc' | lowercase"></span>
    </div>
    <div>
        <label>number:1：</label>
        <span ng-bind=" 1.2345678 |number:1"></span>
    </div>
    <div>
        <label>number:2：</label>
        <span ng-bind=" 1.2345678 |number:2"></span>
    </div>
    <div>
        <label>number：</label>
        <span ng-bind=" 1.2345678 |number"></span>
    </div>
    <div>
        <label>number：(数字字符串)</label>
        <span ng-bind=" '1.2345678' |number"></span>
    </div>
    <div>
        <label>number：(非数字字符串)</label>
        <span ng-bind=" 'a1.2345678' |number"></span>
    </div>
    <div>
        <p>货币过滤：</p>
        <div>
            数量：<input type="number" ng-model="quantity"> 价格：
            <input type="number" ng-model="price">
            <p>总价 = {{ (quantity * price) | currency }}</p>
            <div>{{25000 |currency:"RMB ￥"}}</div>
            <div>{{25000 |currency:"":3}}</div>
        </div>
    </div>

                {{ [{"age": 20,"id": 10,"name": "iphone"},  
            {"age": 12,"id": 11,"name": "sunm xing"},  
            {"age": 44,"id": 12,"name": "test abc"}  
            ] | orderBy:'id' }}  
    <h3>自定义filter</h3>
    <div>
             {{'Hello AngularJs' | replaceHello}}<br/> {{'Hello AngularJs' | replaceHello:3:5}}<br/>
    </div>

</div>
<div ng-controller="controller">

</div>
</body>
</html>