<div class="hello">home</div>
<img src="assets/images/1.png" alt="">
<div class="test">
    <div class="background1" style="width:100px;height:100px;"></div>
    <div class="background2" style="width:100px;height:100px;"></div>
</div>
