body{
  background-color: bisque;
}
/* img{
  width: 150px;
  height: 150px;
} */
.blur{
  filter: blur(3px);
}
.brightness{
  filter: brightness(0.8);
}
.contrast{
  filter: contrast(0.3);
}
.grayscale{
  filter: grayscale(0.9);
}
.hue-rotate{
  filter: hue-rotate(50deg);
}
.invert{
  filter: invert(100%);
}
.opacity{
  filter: opacity(0.7);
}
.saturate{
  filter: saturate(150%);
}
.sepia{
  filter: sepia(100%);
}
.url{
  filter: url('../img/1.svg#blur');
}
.drop-shadow{
  filter: drop-shadow(10px 20px 5px rgba(0,0,0,1));
}

.drop-shadow-grayscale{
  filter: drop-shadow(10px 20px 5px rgba(0,0,0,0.8)) grayscale(30%);
}