<div>
    <div>uploader</div>
    <form>
        <input type="file" multiple="multiple" ng-model="files" class="fileInput">
        <button type="reset" style="display: none"></button>
    </form>
    <div>
        <table class="table table-bordered">
            <tr>
                <th>文件名</th>
                <th>上传状态</th>
                <th>下载路径</th>
                <th>md5</th>
                <th>文件大小</th>
                <th>分片</th>
                <th>上传进度</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="file in files">
                <td ng-bind="file.file.name"></td>
                <td ng-bind="file.uploadState"></td>
                <td>
                    <a href="{{file.path}}" target="_blank" ng-bind="file.path"></a>
                </td>
                <td ng-bind="file.md5"></td>
                <td ng-bind="file.file.size + 'b'"></td>
                <td>
                    <div ng-repeat="blob in file.blobs">
                        <span>{{blob.chunk}}：</span>
                        <span>{{blob.md5}}：</span>
                        <span>{{blob.uploadState}}</span>
                    </div>
                </td>
                <td>0%</td>
                <td>
                    <!--<button ng-click="burst(file)">分片</button>-->
                    <button ng-click="upload(file)">上传</button>
                    <!--<button ng-click="combine(file)">合并</button>-->
                    <button ng-click="remove($index)">移除</button>
                </td>
            </tr>
        </table>
    </div>
</div>
