<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>ngDrap</title>
  <script src="https://cdn.bootcss.com/angular.js/1.7.0/angular.js"></script>
  <script src="./js/drap.module.js"></script>
  <style>
    .list{
      min-height: 200px;
      border: black 1px solid;
      padding: 12px;
      margin-bottom: 20px;
    }
    .item{
      line-height: 30px;
      margin-bottom: 6px;
      border: 1px solid orange;
      padding-left: 12px;
    }
    .list.in{
      border: red 1px solid;
    }

  </style>
</head>
<body>
  <div ng-app="myApp">
    <div ng-controller="List">
      <div class="list" ng-class="{in:list1.state == 'in'}" ng-drop="drog(list1)" ng-click="log(list1);" 
        ng-dragenter="dragenter(list1)" ng-dragleave="dragleave(list1)"
      >
        <div class="item" draggable="true" ng-repeat="item in list1" ng-drap="dragstart(item,list1)" ng-dragend="dragend()" ng-bind="item.text"></div>
      </div>
      <div class="list" ng-class="{in:list2.state == 'in'}" ng-drop="drog(list2)" ng-click="log(list2);"
      ng-dragenter="dragenter(list2)" ng-dragleave="dragleave(list2)"
       >
        <div class="item" draggable="true" ng-repeat="item in list2" ng-drap="dragstart(item,list2)" ng-dragend="dragend()" ng-bind="item.text"></div>
      </div>
    </div>
  </div>
  <script>
    var myApp = angular.module("myApp",["myDrap"],[function(){
      console.log("myApp");
    }]);
    myApp.controller("List",["$scope",function(s){
      console.log("List");
      s.list1 = [];
      s.list1.push({id:1,text:"js"});
      s.list1.push({id:2,text:"html"});
      s.list1.push({id:3,text:"css"});
      s.list1.push({id:4,text:"bower"});
      s.list2 = [];
      s.log = function(d){
        console.log(d);
      };
      s.drapingItem = null;
      s.fromList = null;
      s.dragstart = function(item,fromList){
        s.drapingItem = item;
        s.fromList = fromList;
      };
      s.dragend = function(){
        s.drapingItem = null;
        s.fromList = null;
      };
      s.dragenter = function(list){
        list.state = "in";
      };
      s.dragleave = function(list){
        list.state = "out";
      };
      s.drog = function(list){
        s.list1.state = "out";
        s.list2.state = "out";
        list.push(s.drapingItem);
        let index = s.fromList.findIndex(function(item){
          return s.drapingItem.id == item.id;
        });
        s.fromList.splice(index,1);
      };
    }]);

  </script>
  
</body>
</html>