.modal-auto{
  width: auto !important;
  position: relative;
  .modal-content{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
  }
}

.form-control.no-border-form-control{
  border: none;
  box-shadow: none;
}