.test-nav{
  .nav-tab.active{
    background-color: gold;
  }
}

.test-ng-animate{
  .test-ng-animate-ng-if{
    background-color: greenyellow;
    width: 100%;
  }
  .test-ng-animate-ng-if.ng-enter{
    transition: all linear 3s;
    width: 0%;
  }
  .test-ng-animate-ng-if.ng-enter.ng-enter-active{
    width: 100%;
  }
  .test-ng-animate-ng-if.ng-leave{
    transition: all linear 1s;
    width: 100%;
  }
  .test-ng-animate-ng-if.ng-leave.ng-leave-active{
    width: 0%;
  }

  .test-ng-animate-ng-show{
    transition: all linear 2s;
    background-color: greenyellow;
    width: 100%;
  }
  .test-ng-animate-ng-show.ng-hide{
    width: 0%;
  }

  .test-ng-animate-ng-hide{
    background-color: greenyellow;
    width: 100%;
  }
  .test-ng-animate-ng-hide.ng-hide-add{
    transition: all linear 3s;
    width: 100%;
  }
  .test-ng-animate-ng-hide.ng-hide-add-active{
    width: 0%;
  }
  .test-ng-animate-ng-hide.ng-hide-remove{
    transition: all linear 1s;
    width: 0%;
  }
  .test-ng-animate-ng-hide.ng-hide-remove-active{
    width: 100%;
  }

  .test-ng-animate-ng-repeat{
  }
  .test-ng-animate-ng-repeat.ng-enter{
    transition: all linear 0.5s;
    height: 0px;
  }
  .test-ng-animate-ng-repeat.ng-enter.ng-enter-active{
    height: 20px;
  }
  .test-ng-animate-ng-repeat.ng-leave{
    transition: all linear 0.5s;
    height: 20px;
  }
  .test-ng-animate-ng-repeat.ng-leave.ng-leave-active{
    height: 0px;
  }



}