.workspace{
  display: flex;
  flex-direction: row;
  .node-list{
    width: 20%;
    resize: both;
    border: solid 1px #DDDDDD;
    min-height: 800px;
    overflow:auto;
    .selected{
      background-color: blue;
      color: white;
    }
  }

  .work-panel{
    width: 80%;
    border: solid 1px #DDDDDD;
    min-height: 800px;
    background-color: #EEEEEE;
    .work-panel-nav{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: solid 1px #dddddd;
      .nav-item{
        line-height: 36px;
        text-align: center;
        width: 100%;
        font-size: 18px;
        font-weight: bold;
      }
      .nav-item.active{
        background-color: orange;
        color: white;
      }
    }
    .settings{
      padding: 20px 0;
      .setting{
        display: flex;
        flex-direction: row;
        label{
          width: 180px;

        }
        input,
        textarea,
        .show-value{
          width: 90%;
        }
        .tag{
          width: 60px;
        }
      }
    }
    .form-editor{
      font-size: 0;
      background-color: white;
      min-height: 600px;
      .form-row{
      }
      label{
        font-size: 14px;
        margin-bottom: 0;
        width: 40px;
        text-align: center;
      }
      input{
        font-size: 14px;
      }
      button{
        font-size: 14px;
      }
    }
    .table-list{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-bottom: 40px;
      .show-list{
        width: 100%;
      }
    }
  }
  .add-action{
    min-width: 120px;
    text-align: center;
    .btn-add-variable{
      width: 100%;
    }
  }
  .show-list{
    background-color: white;
  }
}
