<div class="container">
    <h3>系统设置</h3>
    <form class="form-horizontal" role="form">
        <bt-form-group label-options='{"text":"key："}' input-options='{"type":"text","required":false ,"placeholder":"key"}' d-ng-model="systemSetting.key"></bt-form-group>
        <bt-form-group label-options='{"text":"value："}' input-options='{"type":"text","required":false ,"placeholder":"value"}' d-ng-model="systemSetting.value"></bt-form-group>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-9">
                <button type="button" class="btn btn-default" ng-click="save()">保存</button>
                <button type="button" class="btn btn-default" ng-click="back()">返回</button>
            </div>
        </div>
    </form>
</div>