<div>edit</div>
<div>
    <button type="button" ng-click="enterProject(project)">进入项目</button>
</div>
<div>
    <div>
        <label>name：</label>
        <input type="text" ng-model="project.name">
    </div>
    <div>
        <label>introduction：</label>
        <textarea ng-model="project.introduction"></textarea>
    </div>
</div>
<div ng-bind="fileName"></div>
<div id="uploader" class="wu-example">
    <!--用来存放文件信息-->
    <div id="thelist" class="uploader-list"></div>
    <div class="btns">
        <div id="picker">选择文件</div>
        <button id="ctlBtn" class="btn btn-default">开始上传</button>
    </div>
</div>
<div>
    <div>项目成员</div>
    <div>
        <label>添加成员</label>
        <input type="text" placeholder="用户名" ng-model="memberUser">
        <button ng-click="createUser('member',memberUser)">添加</button>
        <span ng-bind="createMemberMsg"></span>
    </div>
    <div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>user</th>
                <th>name</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="member in members">
                <td ng-bind="member.user.user"></td>
                <td ng-bind="member.user.name"></td>
                <td>
                    <button type="button" ng-click="delUser('member',member)">删除</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <div>游客</div>
    <div>
        <label>添加游客</label>
        <input type="text" placeholder="用户名" ng-model="guestUser">
        <button ng-click="createUser('guest',guestUser)">添加</button>
        <span ng-bind="createGuestMsg"></span>
    </div>
    <div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>user</th>
                <th>name</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="guest in guests">
                <td ng-bind="guest.user.user"></td>
                <td ng-bind="guest.user.name"></td>
                <td>
                    <button type="button" ng-click="delUser('guest',guest)">删除</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <button type="button" ng-click="save(project)">保存</button>
    <button type="button" ng-click="back()">返回</button>
</div>