/* line 1, ../scss/_directive.scss */
m-context-menu {
  position: fixed;
}

/* line 4, ../scss/_directive.scss */
.m-context-menu {
  width: 130px;
  border: solid 1px #ddd;
  padding: 1px;
  background-color: #eee;
  font-size: 12px;
}
/* line 10, ../scss/_directive.scss */
.m-context-menu .item-group {
  border-bottom: solid 1px #ddd;
}
/* line 12, ../scss/_directive.scss */
.m-context-menu .item-group .item {
  border: solid 1px transparent;
}
/* line 15, ../scss/_directive.scss */
.m-context-menu .item-group .item:hover {
  border: solid 1px #ddd;
  cursor: pointer;
}

/* line 1, ../scss/_workspace.scss */
.workspace {
  display: flex;
  flex-direction: row;
}
/* line 4, ../scss/_workspace.scss */
.workspace .node-list {
  width: 30%;
  resize: both;
  overflow: auto;
}
/* line 8, ../scss/_workspace.scss */
.workspace .node-list .selected {
  background-color: blue;
  color: white;
}
