/* line 1, ../scss/_workspace.scss */
.workspace {
  display: flex;
  flex-direction: row;
}
/* line 4, ../scss/_workspace.scss */
.workspace .node-list {
  width: 30%;
  resize: both;
  overflow: auto;
}
/* line 8, ../scss/_workspace.scss */
.workspace .node-list .selected {
  background-color: blue;
  color: white;
}

/* line 15, ../scss/_workspace.scss */
.m-context-menu {
  width: 130px;
  border: solid 1px #ddd;
  padding: 1px;
}
/* line 20, ../scss/_workspace.scss */
.m-context-menu .item-group .item {
  border: solid 1px transparent;
}
/* line 23, ../scss/_workspace.scss */
.m-context-menu .item-group .item:hover {
  border: solid 1px #ddd;
  cursor: pointer;
}
