/* line 1, ../scss/_common.scss */
.header {
  background-color: grey;
}
/* line 3, ../scss/_common.scss */
.header .header-group {
  display: inline-block;
  line-height: 48px;
  padding: 0 12px;
}
/* line 7, ../scss/_common.scss */
.header .header-group * {
  color: white;
  font-size: 18px;
  font-weight: bold;
}
/* line 12, ../scss/_common.scss */
.header .header-group a {
  cursor: pointer;
}

/* line 18, ../scss/_common.scss */
.m-row::after {
  content: " ";
  display: table;
  clear: both;
}

/* line 2, ../scss/_test.scss */
.test-nav .nav-tab.active {
  background-color: gold;
}

/* line 8, ../scss/_test.scss */
.test-ng-animate .test-ng-animate-ng-if {
  background-color: greenyellow;
  width: 100%;
}
/* line 12, ../scss/_test.scss */
.test-ng-animate .test-ng-animate-ng-if.ng-enter {
  transition: all linear 3s;
  width: 0%;
}
/* line 16, ../scss/_test.scss */
.test-ng-animate .test-ng-animate-ng-if.ng-enter.ng-enter-active {
  width: 100%;
}
/* line 19, ../scss/_test.scss */
.test-ng-animate .test-ng-animate-ng-if.ng-leave {
  transition: all linear 1s;
  width: 100%;
}
/* line 23, ../scss/_test.scss */
.test-ng-animate .test-ng-animate-ng-if.ng-leave.ng-leave-active {
  width: 0%;
}
/* line 27, ../scss/_test.scss */
.test-ng-animate .test-ng-animate-ng-show {
  transition: all linear 2s;
  background-color: greenyellow;
  width: 100%;
}
/* line 32, ../scss/_test.scss */
.test-ng-animate .test-ng-animate-ng-show.ng-hide {
  width: 0%;
}
/* line 36, ../scss/_test.scss */
.test-ng-animate .test-ng-animate-ng-hide {
  background-color: greenyellow;
  width: 100%;
}
/* line 40, ../scss/_test.scss */
.test-ng-animate .test-ng-animate-ng-hide.ng-hide-add {
  transition: all linear 3s;
  width: 100%;
}
/* line 44, ../scss/_test.scss */
.test-ng-animate .test-ng-animate-ng-hide.ng-hide-add-active {
  width: 0%;
}
/* line 47, ../scss/_test.scss */
.test-ng-animate .test-ng-animate-ng-hide.ng-hide-remove {
  transition: all linear 1s;
  width: 0%;
}
/* line 51, ../scss/_test.scss */
.test-ng-animate .test-ng-animate-ng-hide.ng-hide-remove-active {
  width: 100%;
}
/* line 57, ../scss/_test.scss */
.test-ng-animate .test-ng-animate-ng-repeat.ng-enter {
  transition: all linear 0.5s;
  height: 0px;
}
/* line 61, ../scss/_test.scss */
.test-ng-animate .test-ng-animate-ng-repeat.ng-enter.ng-enter-active {
  height: 20px;
}
/* line 64, ../scss/_test.scss */
.test-ng-animate .test-ng-animate-ng-repeat.ng-leave {
  transition: all linear 0.5s;
  height: 20px;
}
/* line 68, ../scss/_test.scss */
.test-ng-animate .test-ng-animate-ng-repeat.ng-leave.ng-leave-active {
  height: 0px;
}

/* line 1, ../scss/_directive.scss */
m-context-menu {
  position: fixed;
}

/* line 4, ../scss/_directive.scss */
.m-context-menu {
  width: 130px;
  border: solid 1px #ddd;
  padding: 1px;
  background-color: #eee;
  font-size: 12px;
}
/* line 10, ../scss/_directive.scss */
.m-context-menu .item-group {
  border-bottom: solid 1px #ddd;
}
/* line 12, ../scss/_directive.scss */
.m-context-menu .item-group .item {
  border: solid 1px transparent;
}
/* line 15, ../scss/_directive.scss */
.m-context-menu .item-group .item:hover {
  border: solid 1px #ddd;
  cursor: pointer;
}

/* line 1, ../scss/_workspace.scss */
.workspace {
  display: flex;
  flex-direction: row;
}
/* line 4, ../scss/_workspace.scss */
.workspace .node-list {
  width: 20%;
  resize: both;
  border: solid 1px #DDDDDD;
  min-height: 800px;
  overflow: auto;
}
/* line 10, ../scss/_workspace.scss */
.workspace .node-list .selected {
  background-color: blue;
  color: white;
}
/* line 16, ../scss/_workspace.scss */
.workspace .work-panel {
  width: 80%;
  border: solid 1px #DDDDDD;
  min-height: 800px;
  background-color: #EEEEEE;
}
/* line 21, ../scss/_workspace.scss */
.workspace .work-panel .settings {
  padding: 20px 0;
}
/* line 23, ../scss/_workspace.scss */
.workspace .work-panel .settings .setting {
  display: flex;
  flex-direction: row;
}
/* line 26, ../scss/_workspace.scss */
.workspace .work-panel .settings .setting label {
  width: 180px;
}
/* line 30, ../scss/_workspace.scss */
.workspace .work-panel .settings .setting input,
.workspace .work-panel .settings .setting textarea,
.workspace .work-panel .settings .setting .show-value {
  width: 90%;
}
/* line 35, ../scss/_workspace.scss */
.workspace .work-panel .settings .setting .tag {
  width: 60px;
}
/* line 40, ../scss/_workspace.scss */
.workspace .work-panel .form-editor {
  font-size: 0;
  background-color: white;
  min-height: 600px;
}
/* line 46, ../scss/_workspace.scss */
.workspace .work-panel .form-editor label {
  font-size: 14px;
  margin-bottom: 0;
}
/* line 50, ../scss/_workspace.scss */
.workspace .work-panel .form-editor input {
  font-size: 14px;
}
/* line 53, ../scss/_workspace.scss */
.workspace .work-panel .form-editor button {
  font-size: 14px;
}
/* line 57, ../scss/_workspace.scss */
.workspace .work-panel .table-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-bottom: 40px;
}
/* line 62, ../scss/_workspace.scss */
.workspace .work-panel .table-list .show-list {
  width: 100%;
}

/* line 1, ../scss/_component.scss */
.modal-auto {
  width: auto !important;
  position: relative;
}
/* line 4, ../scss/_component.scss */
.modal-auto .modal-content {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

/* line 2, ../scss/_manage.scss */
.manage .project-name {
  width: 20%;
}
/* line 5, ../scss/_manage.scss */
.manage .project-introduction {
  width: 50%;
}
/* line 8, ../scss/_manage.scss */
.manage .project-action {
  width: 40%;
}
