<div class="m-context-menu">
    <div class="item-group">
        <div class="item">New Test Case</div>
        <div class="item">New Suite</div>
        <div class="item">New Directory</div>
    </div>
    <div class="item-group">
        <div class="item">New User Keyword</div>
        <div class="item">New Scalar</div>
        <div class="item">New List Variable</div>
        <div class="item">New Directory Variable</div>
    </div>
    <div class="item-group">
        <div class="item" ng-bind="mNode.name" ></div>
    </div>
</div>