<div class="m-context-menu">
    <div class="item-group" ng-if="mNode.fileType == 'dir'">
        <div class="item" ng-click="clickItem(modalAction.newSuite)">New Suite</div>
        <div class="item">New Directory</div>
        <div class="item">New Resource</div>
    </div>
    <div class="item-group" ng-if="mNode.fileType == 'file'">
        <div class="item" ng-click="clickItem(modalAction.newTestCase)">New Test Case</div>
        <div class="item">New User Keyword</div>
        <div class="item">New Scalar</div>
        <div class="item">New List Variable</div>
        <div class="item">New Directory Variable</div>
    </div>
    <div class="item-group">
        <div class="item" ng-bind="mNode.name" ></div>
    </div>
</div>