<div class="m-context-menu">
    <div class="item-group" ng-if="mNode.fileType == 'dir'">
        <div class="item" ng-click="clickItem(modalAction.newSuite)">New Suite</div>
        <div class="item" ng-click="clickItem(modalAction.newDirectory)">New Directory</div>
        <div class="item" ng-click="clickItem(modalAction.newResource)">New Resource</div>
    </div>
    <div class="item-group" ng-if="mNode.fileType == 'file'">
        <div class="item" ng-click="clickItem(modalAction.newTestCase)">New Test Case</div>
        <div class="item" ng-click="clickItem(modalAction.newUserKeyword)">New User Keyword</div>
        <div class="item">New Scalar</div>
        <div class="item">New List Variable</div>
        <div class="item">New Directory Variable</div>
    </div>
    <div class="item-group">
        <div class="item" ng-click="clickItem('Refresh')">Refresh</div>
    </div>
    <!--<div class="item-group" ng-if="mNodeType == 'import'">-->
        <!--<div class="item" ng-click="clickItem('Delete')">Delete</div>-->
    <!--</div>-->
    <div class="item-group" ng-if="mNodeType == 'node'">
        <!--<div class="item" ng-bind="mNode.name" ng-if="mNodeType == 'import'"></div>-->
        <div class="item" ng-bind="mNode.name" ></div>
    </div>
</div>